* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://source.unsplash.com/1600x900/?landscape");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
